@import '../../../root.scss';
.Form {
  padding: 0;
  .Title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 30px;
    text-transform: uppercase;
    color: $white;
    text-shadow: -1px 0px 0px $form-background, 0px -1px 1px #000;
  }
  &-FieldSet {
    padding: 0;
    width: 25%;
    border: none;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  &-Label {
    font-variant-caps: all-petite-caps;
    font-size: 21px;
  }

  &-Input {
    box-shadow: -1px 1px 1px 0px rgb(107, 105, 97) inset;
  }
}

.Container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
.Test {
  width: fit-content;
  height: 55px;
}

.Header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
