@import '../../../root.scss';

.Container {
  &-table {
    grid-gap: 10px;
    justify-content: center;
  }
  &-body {
    background-color: $form-background;
  }
}

.Box {
  &-food {
    font-size: 0.8rem;
    margin: 0 auto;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.6fr;
    grid-template-rows: repeat(3, 1fr);
    background: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 5px #00000040, 0px 1px 0.5px 1px #bdbdbd;
    grid-template-areas:
      'a a a a a a g'
      'b c d e f . .'
      'b c d e f . .';

    &-header {
      background: rgb(88, 87, 87);
      box-shadow: none;
      height: auto;
      border-radius: 2px;
      color: white;
      margin-top: 20px;
    }
  }
}

.Editable {
  color: black;
  text-decoration: none;
  margin: 0 auto;
  width: 89vw;

  &:hover {
    width: 94vw;
  }
}

.Name {
  grid-area: a;
  grid-row: 1/1;
  grid-column: 1/8;
  hyphens: auto;
  justify-self: left;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  width: -webkit-fill-available;
  font-size: 1rem;
}

.Proteins {
  grid-area: b;
  grid-row: 2/4;
}

.Lipids {
  grid-area: c;
  grid-row: 2/4;
}

.Glucids {
  grid-area: d;
  grid-row: 2/4;
}

.Bran {
  grid-area: e;
  grid-row: 2/4;
}
.Calories {
  grid-area: f;
  grid-row: 2/4;
}

.Delete-food {
  grid-area: g;
  grid-row: 1/1;
  font-size: 1.1rem;
  justify-self: end;
  width: 21px;
  height: 21px;
  text-align: center;
  padding-right: 8px;
}
.Categories {
  grid-area: g;
  grid-row: 2/4;
  grid-column: 6/8;
  justify-self: end;
  padding-right: 8px;
}

thead > tr {
  /* border: 1px solid; */
  display: flex;
  flex-wrap: wrap;
}
