@import '../../../root.scss';
.Form {
  height: 377px;
  width: 277px;
  margin: 0 auto;
  &-fieldset {
    width: auto;
    border: none;
    display: flex;
    justify-content: center;
  }

  &-input {
    width: 233px;
    height: 55px;
    text-align: center;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 1px 1px #b7b6b1 inset, 0px 1px 1px 0px #737067 inset;
    &--action {
      width: 233px;
      height: 89px;
      color: $white;
      border-radius: 2px;
      box-shadow: 0px 0.89px 0.55px 0px #5f5945,
        0px 5px 5px 0px rgba(0, 0, 0, 0.25);
      background: $main-button-background;
    }
  }
}

input,
[type='submit'],
[type='email'],
[type='password'] {
  padding: 0;
}
