/* COLORS */
$white: #ffffff;
$primary-color: #e0e0e0;
$form-background: #d6d1c2;
$main-button-background: linear-gradient(
  180deg,
  #a39e8f 8.85%,
  #989281 34.9%,
  #7b7665 84.37%,
  #736e5e 100%
);
